body {
  text-align: center;
}
h1 {
  border: none none double none;
  border-width: 5px;
  border-color: black;
}
h2 {
  font-size: 15px;
}

/*.ilike_list {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}*/

