#capysite_title {
  text-align: center;
  border-width: 10px;
  border-style: none none ridge none;
}
#about_me {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
#ilike_link {
  text-align: center;
}
